* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #eefff9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.input {
    outline: none;
    /* border: none; */
    padding: 0.5rem 1rem;
    height: 50px;
    border-radius: 10px;
    width: 320px;
    margin: 0.40rem;
    transition: 0.5s;
    font-size: 1.15rem;
}

.add {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    background-color: #ffbd69;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.add:hover {
    background-color: #ff7d04;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.item_input {
    background-color: #ddf9fc;
    outline: none;
    border: 3px solid #f5e2fd;
    padding: 10px;
    color: #000;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
    width: 315px;
}

.remove {
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
    color: #ff0123;
    margin-left: 30px;
    cursor: pointer;
}

.remove_btn {
    margin-top: 35px;
    color: #fff;
    text-transform: uppercase;
    background: #ff6363;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    border: none;
    font-size: 15px;
    transition: all 0.4s ease 0s;
    height: 55px;
    width: 150px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.remove_btn:hover {
    background: #ff0123;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}